<h1><%=title%></h1>
<form method="POST" action="/users/create">
    <label for="name">Name : </label>
    <input type="name" name="name" id="name" required>
    <label for="email">Email : </label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password : </label>
    <input type="password" name="password" id="password" required>
    <label for="password">Confirm Password : </label>
    <input type="password" name="confirm-password" id="confirm-password" required>
    <button>Sign Up</button>
</form>