<h1><%=title%></h1>

<form action="/users/create-session">
    <label for="email">Email : </label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password : </label>
    <input type="password" name="password" id="password" required>
    <button>Sign In</button>
</form>