<h1>Codeial / Profile</h1>
<h2> Welcome to Codeial </h2>
<p><%=user.name%></p>
<p><%=user.email%></p>

<section>
    <h4>
        Posts
    </h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3"></textarea>
        <button type="submit">
            Post
        </button>
    </form>
</section>